.modal-overlay
  z-index: 200
  .modal
    width: 1077px
    height: 588px

.modal-content
  .container
    flex-flow: column

  .title
    width: 100%
    height: auto
    display: flex
    justify-content: center
    margin: 47px 0 40px 0
    h2
      margin: 0




.modal-table
  width: 100%
  height: auto
  padding: 0 54px
  table
    width: 100%
    height: auto
    border-collapse: collapse
    tr
      display: flex
      justify-content: space-between
    th
      width: 170px
      text-align: left
      padding-bottom: 5px
      font: 15px Montserrat-Medium
      color: $dusk-blue
    .indicator
      width: 170px
      display: flex
      justify-content: space-between
      span
        width: 18px
        height: 18px
        position: relative
        img
          position: absolute
          right: 0
          top: 2px
    td
      width: 170px
      padding-bottom: 35px
      font: 13px Montserrat-Regular
      color: $greyish-brown
      span
        width: 170px
        height: 40px
        display: flex
        align-items: center
        border-radius: 20px
        background-color: #f0f2fa
        padding: 10px 20px

  .btns
    width: 100%
    height: auto
    display: flex
    justify-content: center
    align-items: center
    margin: 33px 0 32px 0
    .btn
      width: 160px
      height: 50px
      border-radius: 25px
      margin: 0 15px
      border: 1px solid $dusty-orange
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 38px
      transition: .3s
      &:hover, &.active
        border: 1px solid $dusk-blue
        background: #ffffff
        color: $dusk-blue
        svg path
          fill: $dusk-blue
      svg
        width: auto
        height: 20px
        path
          transition: .3s
          fill: #ffffff
    .search
      svg
        height: 15px
        width: auto






.check
  display: inline-block
  width: 18px
  height: 18px
  position: absolute
  left: 0
  top: 50%
  transform: translateY(-50%)
  border-radius: 5px
  border: 1px solid #e6ebff
  &:after
    content: ''
    position: absolute
    top: 2px
    left: 6px
    width: 3px
    height: 7px
    transform: rotate(45deg)
    border-right: 2px solid $weird-green
    border-bottom: 2px solid $weird-green
  &.grey
    background: #f0f2fa
    &:after
      border-color: #c5c9dc
